POSTGRES_USER=clear_grid
POSTGRES_PASSWORD=change-me
POSTGRES_DB=clear_grid
POSTGRES_PORT=5433

APP_PORT=5000
UI_PORT=5173

SECRET_KEY=change-me

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me
PGADMIN_PORT=8080

NESO_RESOURCE_ID=a63ab354-7e68-44c2-ad96-c6f920c30e85