POSTGRES_PASSWORD=<your-secure-password-here>
PGADMIN_DEFAULT_PASSWORD=<your-secure-admin-password-here>
PGADMIN_DEFAULT_EMAIL=pg_admin_email@example.com
DATABASE_URL=<dialect>+<driver>://<username>:<password>@<hostname>:<port>/<database>