<html>
  <head>
    <title>Auction Unit Results</title>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <style>
      body {
        font-family: Sans-Serif;
      }
      td:nth-child(4),
      td:nth-child(5) {
        text-align: right;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Auction Unit Results</h1>
      <hr>
      <div id="table"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gridjs/6.0.6/gridjs.production.min.js"></script>
    <script>
      const baseUrl = '/api/daily-auction-results';
      const updateUrl = (prev, newQuery) => {
        query = new URLSearchParams(prev.split('?')[1]);
        for (const [key, value] of Object.entries(newQuery)) {
          query.set(key, value);
        }
        return baseUrl + '?' + query.toString();
      };

      const grid = new gridjs.Grid({
        columns: [
          { id: 'delivery_start_utc', name: 'Delivery Start', formatter: cell => {
            return new Date(Date.parse(cell)).toLocaleString();
          }},
          { id: 'auction_unit', name: 'Unit' },
          { id: 'auction_product', name: 'Product' },
          { id: 'executed_quantity_mw', name: 'MW', formatter: cell => {
            return Number(cell).toFixed(3);
          }},
          { id: 'clearing_price_gbp_per_mw_h', name: 'Price', formatter: cell => {
            return '£' + Number(cell).toFixed(2);
          }},
          { id: 'technology_type', name: 'Technology', sort: false },
          { id: 'post_code', name: 'Postcode', sort: false },
          { id: 'id', name: 'ID', hidden: true },
        ],
        server: {
          url: baseUrl,
          then: results => results.data,
          total: results => results.total,
        },
        search: {
          enabled: true,
          server: {
            url: (prev, search) => {
              return updateUrl(prev, {search});
            },
          },
        },
        sort: {
          enabled: true,
          multiColumn: true,
          server: {
            url: (prev, columns) => {
              const columnIds = [
                'delivery_start_utc',
                'auction_unit',
                'auction_product',
                'executed_quantity_mw',
                'clearing_price_gbp_per_mw_h',
              ];
              const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
              return updateUrl(prev, {sort});
            },
          },
        },
        pagination: {
          enabled: true,
          server: {
            url: (prev, page, limit) => {
              return updateUrl(prev, {start: page * limit, length: limit});
            },
          },
        },
        resizable: true,
      }).render(document.getElementById('table'));
    </script>
  </body>
</html>
